<!-- start custom head snippets, customize with your own _includes/custom-head.html file -->

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/img/favicons/favicon.ico' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href=" {{ '/assets/img/favicons/apple-touch-icon.png | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href=" {{ '/assets/img/favicons/favicon-32x32.png | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href=" {{ '/assets/img/favicons/favicon-16x16.png | relative_url }}">
<link rel="manifest" href=" {{ '/assets/img/favicons/site.webmanifest | relative_url }}">

<!-- end custom head snippets -->